@font-face {
  font-family: "PretendardRegular";
  src: url("./styles/fonts/PretendardRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PretendardRegular";
}
